/* General Styles */
body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

p {
  color: #8F8F8F;
  margin-top: 10px;
}

.big-heading {
  padding-top: 2rem;
}

li {
  border-right: 1px solid #BBB;
}

li:last-child {
  border-right: none;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 12px;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

a {
  text-decoration: none;
}
/* Title Image */
.title-image {
  width: 95%;
  margin-left: 1.5rem;
}

/* Feature Section */
#features {
  background-color: #FFF;
  padding: 8% 10%;
}

.feature-box {
  text-align: center;
  padding: 4%;
}

.icon {
  color: #508C9B;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #134B70;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #508C9B;
  color: #FFF;
}

.testimonial-image {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
  border-style: solid;
  border-color: #FFF;
  border-width: 3px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */
#press {
  background-color: #FFF;
  text-align: center;
  padding: 1% 15%;
}

.press-logo {
  width: 18%;
  margin: 20px 25px 20px;
}

/* Pricing Section */
#pricing {
  color: #FFF;
  background-color: #134B70;
  text-align: center;
  padding: 75px;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-table {
  padding: 0 10% 0;
}

.popular-pricing-box {
  background-color: black;
  text-align: center;
  color: #FFF;
}

.popular-pricing-heading {
  padding: 2px;
  margin-bottom: 0;
  letter-spacing: 1.2px;
  word-spacing: 0.5rem;
  font-weight: bold;
}

.side-pricing-box {
  padding-top: 4rem;
}

/* Aim & Working Section */
#work {
  background-color: #FFF;
  text-align: center;
  padding: 5% 15%;
}

.work-image {
  width: 85%;
}

.work-body {
  text-align: left;
  padding: 4rem 5rem 0 0;
}

.work-text {
  font-size: 1.6rem;
  font-weight: 600;
}

ol li {
  border-right: none;
}

/* CTA Section */
#cta {
  text-align: center;
  background-color: #508C9B;
  color: #FFF;
  padding: 7% 15%;
}

.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

.download-step {
  margin: 5px;
  font-weight: 600;
  color: #8F8F8F;
}

/* Footer Section */
#footer {
  background-color: #FFF;
  padding: 2% 15%;
  text-align: center;
}

.footer-icon {
  margin: 15px 10px;
  font-size: 1.7rem;
}

.footer-paragraph {
  padding-top: 5px;
  margin: 5px;
  font-weight: 500;
}

/* Home Section */
#home {
  background-color: #134B70;
  color: #FFF;
}


/* Media Queries */
@media (max-width: 1024px) {
  #home {
    text-align: center;
  }

  .container-fluid {
    padding: 3% 5%;
  }

  .navbar {
    padding: 0 0 2.5rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .title-image {
    width: 100%;
    margin-left: 0;
  }

  #features {
    padding: 8% 5%;
  }

  .feature-box {
    padding: 2%;
  }

  .testimonial-image {
    width: 20%;
  }

  .carousel-item {
    padding: 7% 5%;
  }

  #press {
    padding: 1% 5%;
  }

  .press-logo {
    width: 25%;
  }

  #pricing {
    padding: 50px;
  }

  .pricing-table {
    padding: 0 1% 0;
  }

  .popular-pricing-box {
    padding-top: 1rem;
  }

  #work {
    padding: 5% 5%;
  }

  .work-image {
    width: 100%;
  }

  .work-body {
    padding: 2rem 2.5rem 0 0;
  }

  ol li {
    border-right: none;
  }

  #cta {
    padding: 30% 5%;
  }

  .cta-heading {
    font-size: 2.5rem;
  }

  #footer {
    padding: 3% 5%;
  }
}

@media (max-width: 480px) {
  #home {
    text-align: center;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h5 {
    font-weight: 500;
    font-size: 1.5rem;
  }

  .download-button {
    font-size: 1rem;
    margin: 5% 3% 5% 0;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .testimonial-image {
    width: 30%;
  }

  em {
    display: block;
    padding-bottom: 10px;
  }

  .press-logo {
    width: 30%;
  }

  #pricing {
    padding: 1rem 1rem;
  }

  .pricing-col {
    padding: 5% 7%;
  }

  #work {
    padding-top: 3rem;
  }

  .work-body {
    font-size: 0.9rem;
    text-align: justify;
    padding: 1rem 1rem;
  }

  ol li {
    border-right: none;
  }

  #cta {
    padding: 30% 5%;
  }

  .cta-heading {
    font-size: 2.4rem;
  }

  .footer-icon {
    font-size: 2rem;
  }

  .footer-paragraph {
    font-size: 0.8rem;
  }

  .no-wrap {
    white-space: nowrap;
  }
}
